@model Hades.Web.ViewModels.UsuarioViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<h4>Detalhes Usuario</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nome:</dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>Email:</dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>Data Cadastro:</dt>
        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>Administrador:</dt>
        <dd>
            @Html.DisplayFor(model => model.Administrador)
        </dd>

        <dt>Ativo:</dt>
        @if (@Model.Ativo)
        {
            <dd>Sim</dd>
        }
        else
        {
            <dd>Não</dd>
        }

        <dt>Administrador:</dt>
        @if (@Model.Administrador)
        {
            <dd>Sim</dd>
        }
        else
        {
            <dd>Não</dd>
        }
    </dl>
</div>
    <button class="btn btn-default" onclick="editar(@Model.Id)" style="border-radius: 20px;">Editar</button>
    <div style="margin-left: 110px; margin-top: -36px;">
        <button class="btn btn-defauld" onclick="escondeModal()" style="border-radius: 20px; background-color: #b71c1c; margin-left: 30px; ">Cancelar</button>
    </div>

<script>
    var urlsSorteio = {
        Edit: '@Url.Action("Edit", "Usuario")'
    }

    function editar(id) {
        $.get(urlsUsuario.Edit, { id: id })
            .done(function (data) { $('#divContentUsuario').modal('open').html(data); })
            .fail(function (xhr) { Materialize.toast('' + xhr.responseText + '', 4000, 'rounded red') });
    };

    function cancelar() {
        escondeModal();
    }
</script>