@model Hades.Web.ViewModels.UsuarioViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<div class="row" style="margin-top: 12px">
    <div class="col s12">
        <div class="row">
            <h4>USUÁRIO</h4>

            <div>
                @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @id = "Id" } })
                <dl class="dl-horizontal">
                    <dt> NOME: @*</dt><dd>*@ @Html.DisplayFor(model => model.Nome) </dt>

                    <dt> EMAIL: @*</dt><dd>*@ @Html.DisplayFor(model => model.Email) </dt>

                    <dt> DATA CADASTRO: @*</dt><dd>*@ @Html.DisplayFor(model => model.DataCadastro) </dt>
                    @if (@Model.Ativo)
                    {
                        <dt>ATIVO: Sim</dt>
                    }
                    else
                    {
                        <dt>ATIVO: Não</dt>
                    }

                    @if (@Model.Administrador)
                    {
                        <dt>ADMINISTRADOR: Sim</dt>
                    }
                    else
                    {
                        <dt>ADMINISTRADOR: Não</dt>
                    }
                </dl>
            </div>
            <div>
                <button class="btn btn-default waves-effect" style="width: -webkit-fill-available;" onclick="escondeModal()">FECHAR</button>
            </div>

        </div>
    </div>
</div>

