@model Hades.Web.ViewModels.UsuarioViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<h4>Editar</h4>

@using (Html.BeginForm("EditConfirmed", "Usuario", FormMethod.Post, new { @class = "well" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @id = "Id" } })

        <div class="input-field col s12">
            <input id="Nome" type="text" name="Nome" maxlength="100" value="@Model.Nome">
            <label for="Nome" data-error="wrong" data-success="right">Nome</label>
        </div>
        <div class="input-field col s12">
            <input id="Email" name="Email" type="email" class="validate" maxlength="100" value="@Model.Email">
            <label for="Email" data-error="Email Inválido" data-success="Correto">Email</label>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style="color: black; font-weight: bold;">Data Cadastro</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataCadastro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "DataCadastro" } })
            </div>
        </div>

        <div class="input-field col s12">
            <input id="Senha" type="password" maxlength="20" value="@Model.Senha">
            <label for="Senha" data-error="wrong" data-success="right">Senha</label>
        </div>
        <div class="input-field col s12">
            <input id="ConfirmarSenha" type="password" maxlength="20">
            <label for="ConfirmarSenha" data-error="wrong" data-success="right">Confirmar Senha</label>
        </div>

        <div class="form-group">
            <input type="checkbox" id="Administrador" name="Administrador" @(Model.Administrador ? "checked" : string.Empty) />
            <label for="Administrador" style="color: black; font-weight: bold;">Administrador &nbsp;</label>

            <input type="checkbox" id="Ativo" name="Ativo" @(Model.Ativo ? "checked" : string.Empty) />
            <label for="Ativo" style="color: black; font-weight: bold;">Ativo</label>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" id="btnEditar" class="btn btn-default" style="border-radius: 20px; background-color: #1976d2; width:135px; " />
            </div>
        </div>
    </div>
}
<div style="margin-left: 110px; margin-top: -36px;">
    <button class="btn btn-defauld" onclick="escondeModal()" style="border-radius: 20px; background-color: #b71c1c; margin-left: 30px; ">Cancelar</button>
</div>
<p></p>

<script>

    function cancelar() {
        escondeModal();
    }

    var urlsUsuario = {
        Editar: '@Url.Action("EditConfirmed", "Usuario")'
    }
    
    $("#btnEditar").click(function (e) {
        e.preventDefault();

        if ($("#NomeEditado").val().length == 0) {
            erro("Nome não pode ser vazio")
            return false;
        }

        if ($("#EmailEditado").val() == "") {
            erro("Email não pode ser vazio")
            return false;
        }

        if ($("#SenhaEditada").val() == "" || $("#SenhaEditada").val().length < 5) {
            erro("Senha deve conter de 5 até 20 caracteres")
            return false;
        }

        if ($("#SenhaEditada").val() != $("#ConfirmarSenhaEditada").val()) {
            erro("Senhas não conferem")
            return false;
        }

        var usuario =
        {
            Id: $("#Id").val(),
            Senha: $("#Senha").val(),
            Ativo: $("#Ativo").prop("checked"),
            Administrador: $("#Administrador").prop("checked"),
            Nome: $("#Nome").val(),
            Email: $("#Email").val()
        };

        $.post(urlsUsuario.Editar, { usuario: usuario })
        .done(function (data) {
            $('#divContentUsuario').modal('close');
            sucesso(data);
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    });

    function sucesso(message) {
        Materialize.toast('' + message + '', 4000, 'rounded green');
        return true;
    }

    function erro(message) {
        Materialize.toast('' + message + '', 4000, 'rounded red');
        return true;
    }
    });

</script>