@using Hades.Web.ViewModels

@{
    ViewBag.Title = "Index";
    Layout = UsuarioLogadoViewModel.Administrador ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutUsuario.cshtml"; ;
    var mensagem = TempData["mensagem"]?.ToString() ?? "";
}

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div style="background-color: white; padding: 10px; border-radius: 15px; box-shadow: 0 0 30px black; margin-top: 2%;">
        <h4>Usuarios</h4>
        <div id="tabela">
            <ul>
                <li>
                    <p>
                        <a class="btn-floating red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Criar Usuário">
                            <i class="material-icons" id="Novo">playlist_add</i>
                        </a>
                    </p>
                </li>
            </ul>
            <div id="tabelaUsuarios"></div>
        </div>
    </div>
</div>
<div></div>
<div id="divContentUsuario" class="modal modal-formatada"></div>

<script>    

    $(".modal-overlay").on("click", function () {
        $(this).hide();
    });

    var mensagemAviso = '@(!string.IsNullOrEmpty(mensagem)?mensagem:"")';

    $(document).ready(function () {
        $('.modal').modal();
        $('.tooltipped').tooltip({ delay: 50 });
    });

    var urlsUsuario = {
        Edit: '@Url.Action("Edit", "Usuario")',
        Details: '@Url.Action("Details", "Usuario")',
        Ativar: '@Url.Action("AtivarUsuario", "Usuario")',
        Desativar: '@Url.Action("DesativarUsuario", "Usuario")',
        Create: '@Url.Action("Create", "Usuario")',
        BuscaTabelaUsuario: '@Url.Action("BuscaGridUsuario", "Usuario")'
    };

    var buscaTabelaUsuario = (function busca() {
        $.get(urlsUsuario.BuscaTabelaUsuario)
            .done(function (data) {
                $("#tabelaUsuarios").html(data);
            }).fail(function (xhr) { Materialize.toast('' + xhr.responseText + '', 4000, 'rounded red') });
        return busca;
    })();

    (function mensagem() {
        if (mensagemAviso != '') {
            Materialize.toast('' + msg + '', 4000, 'rounded red');
        }
    })();

    function erro(xhr) { Materialize.toast('' + xhr.responseText + '', 4000, 'rounded red'); }

    function editar(id) {
        $('#divContentUsuario').modal('close');
        $.get(urlsUsuario.Edit, {
            id: id
        }).done(function (data) {
            escondeModal();
            $('#divContentUsuario').modal('open').html(data);
        }).fail(function (xhr) { Materialize.toast('' + xhr.responseText + '', 4000, 'rounded red') });
    };

    function detalhar(id) {
        $.get(urlsUsuario.Details, {
            id: id
        }).done(function (data) {
            escondeModal();
            $('#divContentUsuario').modal('open').html(data);
        }).fail(function (xhr) { Materialize.toast('' + xhr.responseText + '', 4000, 'rounded red') });
    };

    function desativar(id) {
        if (!confirm("Deseja realmente Desativar esse Usuario?")) return;

        $.get(urlsUsuario.Desativar, {
            id: id
        }).done(function () {
            buscaTabelaUsuario();
        }).fail(function (xhr) {
            Materialize.toast('' + xhr.responseText + '', 4000, 'rounded red');
        });
    };

    function ativar(id) {
        if (!confirm("Deseja realmente Ativar esse Usuario?")) return;

        $.get(urlsUsuario.Ativar, {
            id: id
        }).done(function () {
            buscaTabelaUsuario();
        }).fail(function (xhr) {
            Materialize.toast('' + xhr.responseText + '', 4000, 'rounded red');
        });
    };

    $("#Novo").click(function () {
        $.get(urlsUsuario.Create)
            .done(function (data) { $('#divContentUsuario').modal('open').html(data); })
            .fail(function (xhr) { Materialize.toast('' + xhr.responseText + '', 4000, 'rounded red') });
    });

    function escondeModal() {
        $("#divContentUsuario").modal('close');
    }

</script>