@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: white; padding: 10px; border-radius: 15px; box-shadow: 0 0 80px #f44336; margin-top: 2%;">

    <h3>Usuarios</h3>
    <div id="Acoes" style="border-style: inset; padding: 2%; font-size: x-large; display: none;"></div>
    <div id="tabela">
        @*<div class="row">
            @using (Html.BeginForm("Index", "Usuario", FormMethod.Get, new {@class = "col s12"}))
            {
                <div class="row">
                    <div class="input-field col s6">
                        <input id="NomeUsuario" type="text" class="validate" maxlength="50">
                        <label for="NomeUsuario" class="active">Nome Usuário</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Pesquisar<i class="material-icons right">send</i></button>
                </div>
            }
        </div>*@
        <ul>
            <li>
                <p>
                    <a class="btn-floating red"><i class="material-icons" onclick="criar()">playlist_add</i></a>
                </p>
            </li>
        </ul>
        <div id="divContentUsuario" >

        </div>
    </div>
</div>

<script>

    var urlsUsuario = {
        Edit: '@Url.Action("Edit", "Usuario")',
        Details: '@Url.Action("Details", "Usuario")',
        Ativar: '@Url.Action("AtivarUsuario", "Usuario")',
        Desativar: '@Url.Action("DesativarUsuario", "Usuario")',
        Create: '@Url.Action("Create", "Usuario")',
        BuscaTabelaUsuario: '@Url.Action("BuscaGridUsuario", "Usuario")'
    }
    
    function criar() {
        $.post(urlsUsuario.Create)
            .done(function (data) {
                $("#divContentUsuario").slideUp(100, function () {
                    $("#divContentUsuario").html(data).slideDown(200);
                });
                $("#Acoes").hide();
            }).fail(function (xhr) {
                $("#Acoes").show();
                $("#Acoes").html(xhr.responseText);
            });
    };

    function buscaTabelaUsuario() {
        $.get(urlsUsuario.BuscaTabelaUsuario)
            .done(function (data) {
                $("#divContentUsuario").slideUp(100, function () {
                    $("#divContentUsuario").html(data).slideDown(200);
                });
                $("#Acoes").hide();
            }).fail(function (xhr) {
                $("#Acoes").show();
                $("#Acoes").html(xhr.responseText);
            });
    };

    buscaTabelaUsuario();

    function erro(xhr) {
        $("#Acoes").show();
        $("#Acoes").html(xhr.responseText);
    }

    function editar(id) {
        $.post(urlsUsuario.Edit, {
            id: id
        }).done(function (data) {
            $("#divContentUsuario").fadeOut(100, function () {
                $("#divContentUsuario").html(data).fadeIn(100);
            });
            $("#Acoes").hide();
        }).fail(function (xhr) {
            $("#Acoes").show();
            $("#Acoes").html(xhr.responseText);
        });
    };

    function detalhar(id) {
        $.get(urlsUsuario.Details, {
            id: id
        }).done(function (data) {
            $("#divContentUsuario").fadeOut(100, function () {
                $("#divContentUsuario").html(data).fadeIn(100);
            });
            $("#Acoes").hide();
        }).fail(function (xhr) {
            $("#Acoes").show();
            $("#Acoes").html(xhr.responseText);
        });
    };

    function desativar(id) {
        if (!confirm("Deseja realmente Desativar esse Usuario?")) return;
        
        $.get(urlsUsuario.Desativar, {
            id: id
        }).done(function () {
            buscaTabelaUsuario();
            $("#Acoes").hide();
        }).fail(function (xhr) {
            $("#Acoes").show();
            $("#Acoes").html(xhr.responseText);
        });
    };

    function ativar(id) {
        if (!confirm("Deseja realmente Ativar esse Usuario?")) return;

        $.get(urlsUsuario.Ativar, {
            id: id
        }).done(function () {
            buscaTabelaUsuario();
            $("#Acoes").hide();
        }).fail(function (xhr) {
            $("#Acoes").show();
            $("#Acoes").html(xhr.responseText);
        });
    };

</script>