<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>EUDORA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @RenderSection("scripts", required: false)
    <style>
        .nav-gradient {
            /*height: 70px;*/
            background: #455a64; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(black, #455a64); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(black, #455a64); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(black, #455a64); /* For Firefox 3.6 to 15 */
            background: linear-gradient(black, #455a64); /* Standard syntax (must be last) */
        }

    </style>
</head>
<body style="background-color: #455a64; padding-top: 0px;">
    <nav style="height: 75px;">
        <div class="nav-wrapper accent-4 nav-gradient" style="background-color: #455a64;">
            <img src="~/images/Bastet_CatScratch.png" style="margin-left: 20px; width: 75px;">
            <label id="LayoutNomeUsuarioLogado" style="text-align: center; font-size: 1rem; color: white; position: relative; top: -29px;"></label>

            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons" style="font-size: 40px;color: white;border-radius: 40px;width: 5px;height: 55px;position: relative;top: 10px;">reorder</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-top: 10px;">
                <li><a style="font-size: large; color: white" href="@Url.Action("Index", "Usuario")">USUÁRIO</a></li>
                <li><a style="font-size: large; color: white" href="@Url.Action("Index", "Enquete")">ENQUETE</a></li>
                <li><a style="font-size: large; color: white" href="@Url.Action("Index", "Sorteio")">SORTEIO</a></li>
                <li><a style="font-size: large; color: white" href="@Url.Action("Index", "Login")">SAIR</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="@Url.Action("Index", "Usuario")">USUÁRIO</a></li>
                <li><a href="@Url.Action("Index", "Enquete")">ENQUETE</a></li>
                <li><a href="@Url.Action("Index", "Sorteio")">SORTEIO</a></li>
                <li><a href="@Url.Action("Index", "Login")">SAIR</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" id="divContainerPrincipal">
        @RenderBody()
        <footer>
            @*<p>&copy; @DateTime.Now.Year - HADES Application</p>*@
        </footer>
    </div>
</body>
</html>

<script>
    var nomeUsuario = sessionStorage.getItem('NomeUsuarioLogado');
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $("#LayoutNomeUsuarioLogado").text(nomeUsuario.toUpperCase());
    });
</script>