@using Hades.Web.ViewModels
@model IEnumerable<SorteioViewModel>

@{
    Layout = null;
    var usuarioAdm = (bool)Session["Administrador"];
    var usuarioLogado = Session["Nome"].ToString() != "" ? Session["Nome"].ToString() : "";
    var idUsuarioLogado = (int)Session["IdUsuario"] != 0 ? (int)Session["IdUsuario"] : 0;
}

<table class="striped responsive-table">
    <thead>
        <tr>
            <th style="text-align: center;">Nome:</th>
            <th style="text-align: center;">Data Sorteio:</th>
            <th style="text-align: center;">Criador:</th>
            <th style="text-align: center;">Qtde Itens:</th>
            <th style="width: 150px; text-align: center;">N° Participantes:</th>
            <th style="width: 150px; text-align: center;">Ações</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var sorteio in Model)
            {
                <tr>
                    <td style="padding: 0; padding-left: 10px; text-align: left;">
                        <a class="btn-floating blue">
                            <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Vencedores" 
                               onclick="vencedoresUsuario('@sorteio.Id')">ac_unit</i>
                        </a>
                        @Html.DisplayFor(modelItem => sorteio.Nome)
                    </td>
                    <td style="padding: 0; text-align: center;">
                        @Html.DisplayFor(modelItem => sorteio.DataFormatada)
                    </td>
                    <td style="color: grey">
                        @Html.DisplayFor(modelItem => sorteio.NomeCriador)
                    </td>
                    <td style="color: grey; text-align: center;">
                        @Html.DisplayFor(modelItem => sorteio.QtdeItens)
                    </td>
                    <td style="color: grey; text-align: center;">
                        @Html.DisplayFor(modelItem => sorteio.QtdParticipantes)
                    </td>
                    <td style="padding: 0; text-align: center;">
                        <div style="margin-right: 10px;float: right;">
                            <ul>
                                <li>
                                    @if (!sorteio.FoiSorteado)
                                    {
                                        if (sorteio.IndParticipante == "N")
                                         {
                                             <a class="btn-floating green darken-3">
                                                 <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Participar" 
                                                    onclick="participar('@sorteio.Id', '@idUsuarioLogado')">add_circle_outline</i>
                                             </a>
                                         }
                                         else
                                         {
                                             <a class="btn-floating red darken-3">
                                                 <i class="material-icons tooltipped" data-position="bottom" data-delay="50"
                                                         data-tooltip="Sair Sorteio" onclick="sairSorteio('@sorteio.Id', '@idUsuarioLogado')">remove_circle_outline</i>
                                             </a>
                                         }
                                    }
                                    <a class="btn-floating grey darken-3">
                                        <i class="material-icons tooltipped" id="btnDetalharSorteio" data-position="bottom"
                                                data-delay="50" data-tooltip="Detalhes" onclick="detalhar('@sorteio.Id')">description</i>
                                    </a>
                                    @if (usuarioAdm || sorteio.NomeCriador == usuarioLogado)
                                    {
                                        if (sorteio.QtdParticipantes == 0)
                                        {
                                            <a class="btn-floating green">
                                                <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar"
                                                   onclick="editar('@sorteio.Id')">mode_edit</i>
                                            </a>
                                        }
                                        <a class="btn-floating red">
                                            <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Deletar" 
                                               onclick="deletar('@sorteio.Id')">delete</i>
                                        </a>
                                        if (!sorteio.FoiSorteado)
                                        {
                                            <a class="btn-floating blue">
                                                <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sortear"
                                                        onclick="sortear('@sorteio.Id')">play_arrow</i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn-floating blue">
                                                <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Vencedores" 
                                                   onclick="vencedores('@sorteio.Id')">ac_unit</i>
                                            </a>
                                        }

                                    }
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="6" style="text-align: center">Nenhum registro encontrado</td></tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('.tooltipped').tooltip({ delay: 50 });
    });
</script>
