@model Hades.Web.ViewModels.SorteioViewModel

@{
    ViewBag.Title = "Details";
    Layout = null;
}
<hr/>
<div>
    <h3>Detalhes Sorteio</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    <ul>
        <li>
            @*<a class="btn-floating red"><i class="material-icons" onclick="editar('@Model.Id')">mode_edit</i></a>
            <a class="btn-floating green"><i class="material-icons" onclick="deletar('@Model.Id')">delete</i></a>
            <a class="btn-floating blue"><i class="material-icons" onclick="sortear('@Model.Id')">play_arrow</i></a>*@
            @Html.ActionLink("Voltar", "Index")
        </li>
    </ul>
</p>
<hr/>

@*<script>

    var urlsSorteio = {
        Edit: '@Url.Action("Edit", "Sorteio")',
        Delete: '@Url.Action("Delete", "Sorteio")',
        Drawlots: '@Url.Action("Drawlots", "Sorteio")'
    }

    function editar(id) {
        $.post(urlsSorteio.Edit, {
            id: id
        }).done(function (data) {
            $("#Acoes").html(data);
        }).fail(function (xhr) {
            $("#Acoes").html(xhr.responseText);
        });
    };

    function deletar(id) {
        if (!confirm("Deseja realmente Excluir esse sorteio?")) return;

        $.get(urlsSorteio.Delete, {
            id: id
        }).done(function (data) {
            $("#Acoes").html(data);
        }).fail(function (xhr) {
            $("#Acoes").html(xhr.responseText);
        });
    };

    function sortear(id) {
        $.get(urlsSorteio.Drawlots, {
            id: id
        }).done(function (data) {
            $("#Sorteado").html(data);
        }).fail(function (xhr) {
            $("#Sorteado").html(xhr.responseText);
        });
    };

</script>*@