@model Hades.Web.ViewModels.SorteioViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<div class="row" style="margin-top: 12px">
    <div class="col s12">
        <div class="row">
            <h4>Novo Sorteio </h4>

            @using (Html.BeginForm("EditConfirmed", "Sorteio", FormMethod.Post, new { @class = "well" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="input-field col s12">
                        <input id="NomeSorteio" type="text" name="NomeSorteio" maxlength="20" data-length="20" value="@Model.Nome"
                               onkeypress="verificaCaracteres(this)">
                        <label for="NomeSorteio">Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="DataSorteio" type="text" name="DataSorteio" style="text-align: center;" class="datepicker"
                               value="@Model.DataFormatada">
                        <label for="DataSorteio">Data Sorteio</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="QtdeItens" type="number" style="text-align: center;" name="QtdeItens" maxlength="3" data-length="5" value="@Model.QtdeItens">
                        <label for="QtdeItens">Qtde de Itens</label>
                    </div>

                    <div class="input-field col s3">
                        <input type="checkbox" id="Ativo" name="Ativo" @(Model.Ativo ? "checked" : string.Empty) />
                        <label for="Ativo" style="color: black; font-weight: bold;">Ativo</label>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Salvar" id="btnSalvarEdicao" class="btn btn-confirm" style="border-radius: 20px;" />
                        </div>
                    </div>
                </div>
            }
            <div style="margin-left: 110px; margin-top: -36px;">
                <button class="btn btn-default" style="float: right" onclick="escondeModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('input#input_text, textarea#textarea1').characterCounter();
        $('.datepicker').pickadate({
            monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            today: 'Hoje',
            clear: 'Limpar',
            close: 'Pronto',
            labelMonthNext: 'Próximo mês',
            labelMonthPrev: 'Mês anterior',
            labelMonthSelect: 'Selecione um mês',
            labelYearSelect: 'Selecione um ano',
            selectMonths: true,
            selectYears: 15,
            format: 'dd/mm/yyyy'
        });
    });

    var currentTime = new Date();
    var month = currentTime.getMonth() + 1;
    var day = currentTime.getDate();
    var year = currentTime.getFullYear();

    var dataHoje = day + "/" + month + "/" + year;

    var IdSorteio = '@Model.Id';

    $("#btnSalvarEdicao").click(function() {
        if ($("#NomeSorteio").val().length <= 3) {
            erro("Nome do sorteio tem que estar entre 3 até 20 caracteres");
            return false;
        }

        var dataInput = $("#DataSorteio").val() != "" ? new Date($("#DataSorteio").val()) : "";

        if (dataInput == "" || dataInput < dataHoje) {
            erro("Data do Sorteio deve ser maior que hoje");
            return false;
        }

        if ($("#QtdeItens").val() <= 0 || $("#QtdeItens").val() > 100) {
            erro("A quantidade tem que ser maior que zero e menor que 100");
            return false;
        }

        $.post('@Url.Action("EditConfirmed", "Sorteio")', {
            Id: IdSorteio,
            Nome: $("#NomeSorteio").val(),
            DataSorteio: $("#DataSorteio").val(),
            QtdeItens: $("#QtdeItens").val(),
            Ativo: $("#Ativo").prop("checked")
        }).done(function() {
            escondeModal();
            sucesso("Sorteio cadastrado com Sucesso!");
            buscaTabelaSorteio();s
        }).fail(function(xhr) {
            erro(xhr.responseText);
        });
    });

</script>
