@using Hades.Web.ViewModels
@model IEnumerable<Hades.Domain.Entities.Sorteio>

@{
    ViewBag.Title = "Index";
    Layout = (bool)Session["Administrador"] ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutUsuario.cshtml"; ;
    var mensagem = TempData["mensagem"]?.ToString() ?? "";
}
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div style="background-color: white; padding: 10px; border-radius: 15px; box-shadow: 0 0 30px black; margin-top: 2%;">
        <h4>LISTA DE SORTEIOS</h4>

        <div id="tabela">
            <ul>
                <li>
                    <p>
                        <a class="btn-floating red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Criar Sorteio">
                            <i class="material-icons" id="Novo">playlist_add</i>
                        </a>
                    </p>
                </li>
            </ul>
            <div id="tabelaSorteios"></div>
        </div>
    </div>
</div>
<div id="divContentSorteio" class="modal modal-formatada"></div>

<script>

    $(".modal-overlay").on("click", function () {
        $(this).hide();
    });

    var mensagemAviso = '@(!string.IsNullOrEmpty(mensagem)?mensagem:"")';

    $(document).ready(function () {
        $('.modal').modal();
        $('.tooltipped').tooltip({ delay: 50 });
        $('input#input_text, textarea#textarea1').characterCounter();
    });

    mensagem(mensagemAviso);

    var urlsSorteio = {
        Edit: '@Url.Action("Edit", "Sorteio")',
        Details: '@Url.Action("Details", "Sorteio")',
        Delete: '@Url.Action("Delete", "Sorteio")',
        Drawlots: '@Url.Action("Drawlots", "Sorteio")',
        Create: '@Url.Action("Create", "Sorteio")',
        BuscaGrid: '@Url.Action("BuscaGridSorteios", "Sorteio")',
        Vencedores: '@Url.Action("Winners", "Sorteio")',
        VencedoresUsuarios: '@Url.Action("WinnersUsuarios", "Sorteio")'
    }

    $("#Novo").click(function () {
        $.get(urlsSorteio.Create)
            .done(function (data) { $('#divContentSorteio').modal('open').html(data); })
            .fail(function (xhr) { erro(xhr.responseText) });
    });

    function escondeModal() {
        $("#divContentSorteio").modal('close');
    }

    var buscaTabelaSorteio = (function tabelaSorteio() {
        $.get(urlsSorteio.BuscaGrid)
            .done(function (data) {
                $("#tabelaSorteios").html(data);
            }).fail(function (xhr) { erro(xhr.responseText) });
        return tabelaSorteio;
    })();

    function editar(id) {
        $.post(urlsSorteio.Edit, {
            Id: id
        }).done(function (data) {
            escondeModal();
            $('#divContentSorteio').modal('open').html(data);
        }).fail(function (xhr) { erro(xhr.responseText) });
    };

    function detalhar(id) {
        $.get(urlsSorteio.Details, {
            id: id
        }).done(function (data) {
            escondeModal();
            $('#divContentSorteio').modal('open').html(data);
        }).fail(function (xhr) { erro(xhr.responseText) });
    };

    function deletar(id) {
        if (!confirm("Deseja realmente Excluir esse sorteio?")) return;

        $.get(urlsSorteio.Delete, {
            id: id
        }).done(function () {
            buscaTabelaSorteio();
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    };

    function sairSorteio(idSorteio, idUsuario) {
        if (!confirm("Deseja realmente deixar de participar deste sorteio?")) return;

        $.post('@Url.Action("DeletarParticipante","SorteioParticipantes")', {
            idSorteio: idSorteio,
            idUsuario: idUsuario
        }).done(function (data) {
            sucesso(data);
            buscaTabelaSorteio();
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    };

    function sairSorteioParticipante(idSorteio, idUsuario) {
        if (!confirm("Deseja realmente deixar de participar deste sorteio?")) return;

        $.post('@Url.Action("DeletarParticipante","SorteioParticipantes")', {
            idSorteio: idSorteio,
            idUsuario: idUsuario
        }).done(function (data) {
            sucesso(data);
            buscaTabelaSorteio();
            setTimeout(function () { detalhar(idSorteio); }, 100);
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    };

    function sortearNovamente(idSorteio) {
        $.get(urlsSorteio.Drawlots, {
            idSorteio: idSorteio
        }).done(function (data) {
            escondeModal();
            buscaTabelaSorteio();
            setTimeout(function () { $('#divContentSorteio').modal('open').html(data); }, 1000);
        }).fail(function (xhr) { erro(xhr.responseText) });
    };

    function vencedores(id) {
        $.get(urlsSorteio.Vencedores, {
            idSorteio: id
        }).done(function (data) {
            escondeModal();
            $('#divContentSorteio').modal('open').html(data);
        }).fail(function (xhr) { erro(xhr.responseText) });
    };

    function vencedoresUsuario(id) {
        $.get(urlsSorteio.VencedoresUsuarios, {
            idSorteio: id
        }).done(function (data) {
            escondeModal();
            $('#divContentSorteio').modal('open').html(data);
        }).fail(function (xhr) { erro(xhr.responseText) });
    };

    function sortear(id) {
        $.get(urlsSorteio.Drawlots, {
            idSorteio: id
        }).done(function (data) {
            buscaTabelaSorteio();
            setTimeout(function () { $('#divContentSorteio').modal('open').html(data); }, 100);
        }).fail(function (xhr) {
            Materialize.toast('' + xhr.responseText + '', 4000, 'rounded red');
        });
    };

    function participar(idSorteio, idUsuario) {
        if (!confirm("Deseja realmente participar deste sorteio?")) return;

        $.post('@Url.Action("Participar","SorteioParticipantes")', {
            idSorteio: idSorteio,
            idUsuario: idUsuario
        }).done(function (data) {
            sucesso(data);
            buscaTabelaSorteio();
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    };

</script>
