@using Hades.Web.ViewModels
@model IEnumerable<Hades.Web.ViewModels.EnqueteViewModel>

@{
    Layout = null;
    var adm = (bool)Session["Administrador"];
    var usuarioLogado = Session["Nome"].ToString() != "" ? Session["Nome"].ToString() : "";
}

<table class="striped responsive-table">
    <tr>
        <th style="text-align: center;">Titulo:</th>
        <th style="text-align: center;">Assunto:</th>
        <th style="text-align: center;">Criador:</th>
        <th style="width: 105px; text-align: center;">Data Enquete:</th>
        <th style="text-align: center;">Local</th>
        <th style="text-align: center;">Valor</th>
        <th style="width: 50px; text-align: center;">Favor:</th>
        <th style="width: 50px; text-align: center;">Contra:</th>
        <th style="width: 108px; text-align: center;">Ações:</th>
    </tr>

    @if (Model != null && Model.Any())
    {
        foreach (var enquete in Model)
        {
            <tr @(enquete.Ativo == false ? "style=color:#f00" : "")>
                <td>
                    @Html.DisplayFor(modelItem => enquete.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => enquete.Assunto)
                </td>
                <td style="color: gray">
                    @Html.DisplayFor(modelItem => enquete.Criador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => enquete.DataFormatada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => enquete.Nom_LocalCotado)
                </td>
                <td>
                    R$@Html.DisplayFor(modelItem => enquete.Valor)
                </td>
                <td style="color: blue; text-align: center;">
                    @Html.DisplayFor(modelItem => enquete.VotoFavor)
                </td>
                <td style="color: red; text-align: center;">
                    @Html.DisplayFor(modelItem => enquete.VotoContra)
                </td>
                @if (usuarioLogado != "")
                {
                    <td style="padding: 0">
                        <div style="float: right">
                            <ul>
                                <li>
                                    <a class="btn-floating grey darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Detalhar"><i class="material-icons" onclick="detalhar('@enquete.Id')">description</i></a>
                                    @if (adm || enquete.Criador == usuarioLogado)
                                    {
                                        <a class="btn-floating orange darken-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Desativar"><i class="material-icons" onclick="desativar('@enquete.Id')">delete</i></a>
                                        <a class="btn-floating red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar"><i class="material-icons" onclick="editar('@enquete.Id')">mode_edit</i></a>
                                    }
                                    <a class="btn-floating green tooltipped" data-position="bottom" data-delay="50" data-tooltip="Votar">
                                        <i class="material-icons" onclick="votar('@enquete.Id', '@enquete.Titulo')">note_add</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                }
            </tr>
        }
    }
    else
    {
        <tr><td colspan="9" style="text-align: center">Nenhum registro encontrado</td></tr>
    }
</table>

<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('.tooltipped').tooltip({ delay: 50 });
    });
</script>
