@model  Hades.Web.ViewModels.EnqueteViewModel
@{
    ViewBag.Title = "Details";
    Layout = null;
}

<h4>Detalhes Enquete</h4>

<div>
    <dl class="dl-horizontal">
        <dt><b>Titulo:</b> @Html.DisplayFor(model => model.Titulo)</dt>

        <dt><b>Assunto:</b> @Html.DisplayFor(model => model.Assunto)</dt>

        <dt><b>Data Enquete:</b> @Html.DisplayFor(model => model.DataEnquete)</dt>
    </dl>
</div>
<p>
    <button class="btn btn-default" onclick="editar(@Model.Id)">Editar</button>
    <button class="btn btn-default" onclick="cancelar()">Cancelar</button>
</p>

@*Votos*@
<div>
    <h4>Tabela de Votos</h4>
    <table class="striped">
        <tr>
            <th>Nome Usuario</th>
            <th>Tipo Voto</th>
            <th>Justificativa</th>
        </tr>
        @foreach (var voto in Model.ListaVotacao)
        {
            <tr @(voto.TipoVoto == false ? "style=color:#f00" : "")>
                <td>@Html.DisplayFor(modelItem => voto.Votador)</td>
                @if (voto.TipoVoto)
                {
                    <td>Favor</td>
                }
                else
                {
                    <td>Contra</td>
                }
                <td>@Html.DisplayFor(modelItem => voto.Justificativa)</td>
            </tr>
        }

    </table>
</div>
@*Votos*@

<script>
    var urlsEnquete = {
        Edit: '@Url.Action("Edit", "Enquete")'
    }

    function editar(id) {
        $.get(urlsEnquete.Edit, {
            id: id
        }).done(function (data) {
            $("#divContentEnquete").fadeOut(100, function () {
                $("#divContentEnquete").html(data).fadeIn(100);
            });
        }).fail(function (xhr) {
            $("#Acoes").html(xhr.responseText);
        });
    };

    function cancelar() {
        buscaTabelaEnquete();
    }
</script>