@model  Hades.Web.ViewModels.EnqueteViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<div class="row" style="margin-top: 12px">
    <div class="col s12">
        <div class="row">

            <h4>DETALHES ENQUETE</h4>

            <div>
                <dl class="dl-horizontal">
                    <dt>TÍTULO: @Html.DisplayFor(model => model.Titulo)</dt>

                    <dt>ASSUNTO: @Html.DisplayFor(model => model.Assunto)</dt>

                    <dt>DATA ENQUETE: @Html.DisplayFor(model => model.DataFormatada)</dt>

                    <dt>LOCAL: @Html.DisplayFor(model => model.Nom_LocalCotado)</dt>

                    <dt>VALOR: R$@Html.DisplayFor(model => model.Valor)</dt>

                    <dt>CRIADOR: @Html.DisplayFor(model => model.Criador)</dt>
                </dl>
            </div>
            <div>
                <button class="btn btn-default" style="width: -webkit-fill-available;" onclick="escondeModal()">Fechar</button>
            </div>
            <p></p>
            <div>
                <h4>Tabela de Votos</h4>
                <table class="striped">
                    <tr>
                        <th>NOME USUÁRIO</th>
                        <th>TIPO VOTO</th>
                        <th>JUSTIFICATIVA</th>
                    </tr>
                    @if (Model.ListaVotacao != null)
                    {
                        foreach (var voto in Model.ListaVotacao)
                        {
                            <tr @(voto.TipoVoto == false ? "style=color:#f00" : "")>
                                <td>@Html.DisplayFor(modelItem => voto.NomeUsuario)</td>
                                @if (voto.TipoVoto)
                    {
                                    <td>FAVOR</td>
                                }
                                else
                                {
                                    <td>CONTRA</td>
                                }
                                <td>@Html.DisplayFor(modelItem => voto.Justificativa)</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="3" style="text-align: center;">Nenhuma votação encontrada...</td></tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
@*Votos*@

