@model  Hades.Web.ViewModels.EnqueteViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<div class="row" style="margin-top: 12px">
    <div class="col s12">
        <div class="row">

            <h4>Detalhes Enquete</h4>

            <div>
                <dl class="dl-horizontal">
                    <dt>Titulo: @Html.DisplayFor(model => model.Titulo)</dt>

                    <dt>Assunto: @Html.DisplayFor(model => model.Assunto)</dt>

                    <dt>Data Enquete: @Html.DisplayFor(model => model.DataFormatada)</dt>

                    <dt>Local: @Html.DisplayFor(model => model.Nom_LocalCotado)</dt>

                    <dt>Valor: R$@Html.DisplayFor(model => model.Valor)</dt>

                    <dt>Criador: @Html.DisplayFor(model => model.Criador)</dt>
                </dl>
            </div>
            <div>
                <h4>Tabela de Votos</h4>
                <table class="striped">
                    <tr>
                        <th>Nome Usuario</th>
                        <th>Tipo Voto</th>
                        <th>Justificativa</th>
                    </tr>
                    @if (Model.ListaVotacao != null)
                    {
                        foreach (var voto in Model.ListaVotacao)
                        {
                            <tr @(voto.TipoVoto == false ? "style=color:#f00" : "")>
                                <td>@Html.DisplayFor(modelItem => voto.NomeUsuario)</td>
                                @if (voto.TipoVoto)
                    {
                                    <td>Favor</td>
                                }
                                else
                                {
                                    <td>Contra</td>
                                }
                                <td>@Html.DisplayFor(modelItem => voto.Justificativa)</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="3" style="text-align: center;">Nenhuma votação encontrada...</td></tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
@*Votos*@

