@model Hades.Web.ViewModels.EnqueteViewModel

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<h2>Editar</h2>


@using (Html.BeginForm("EditConfirmed", "Enquete", FormMethod.Post, new { @class = "col s12" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @id = "Id" } })

        <div class="form-group">
            <label class="control-label col-md-2" style="color: black; font-weight: bold;">Titulo (Deve conter até 20 caracteres)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", @id = "Titulo" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style="color: black; font-weight: bold;">Assunto (Deve conter de 10 à 150 caracteres)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Assunto, new { htmlAttributes = new { @class = "form-control", @id = "Assunto" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style="color: black; font-weight: bold;">Data Enquete</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataEnquete, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "DataCadastro" } })
            </div>
        </div>

        <div class="form-group">
            <p>
                <input type="checkbox" id="Ativo" name="Ativo" @(Model.Ativo ? "checked" : string.Empty)/>
                <label for="Ativo" style="color: black; font-weight: bold;">Ativo</label>
            </p>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" id="btnSalvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<p>
    <button class="btn btn-default" onclick="cancelar()">Cancelar</button>
</p>

<script>
    function cancelar() {
        buscaTabelaEnquete();
    }

    $("#btnSalvar").click(function (e) {
        e.preventDefault();

        var enquete =
        {
            Id: $("#Id").val(),
            Titulo: $("#Titulo").val(),
            Ativo: $("#Ativo").prop("checked"),
            Assunto: $("#Assunto").val(),
            DataCadastro: $("#DataCadastro").val()
        };
        console.log(enquete);
        $.post('@Url.Action("EditConfirmed", "Enquete")', { enquete: enquete })
        .done(function () {
            buscaTabelaEnquete();
        }).fail(function (xhr) {
            $("#Acoes").html(xhr.responseText);
        });
    });

</script>