@model IEnumerable<Hades.Web.ViewModels.EnqueteViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: white; padding: 10px; border-radius: 15px; box-shadow: 0 0 80px #f44336; margin-top: 2%;">
    <h3>Lista de Enquetes</h3>

    <div id="Acoes" style="border-style: inset; padding: 2%;" ></div>

    <p>
        <ul>
            <li>
                <a class="btn-floating red"><i class="material-icons" onclick="criar()">playlist_add</i></a>
            </li>
        </ul>
    </p>

    <div id="tabela">
        @Html.Partial("_TabelaEnquetes", Model)
    </div>
</div>

<script>
    var urlsSorteio = {
        Edit: '@Url.Action("Edit", "Enquete")',
        Details: '@Url.Action("Details", "Enquete")',
        Delete: '@Url.Action("DesativarEnquete", "Enquete")',
        Create: '@Url.Action("Create", "Enquete")'
        Votar: '@Url.Action("", "Enquete")'
    }

    function criar() {
        $.post(urlsSorteio.Create)
            .done(function (data) {
                $("#Acoes").html(data);
            }).fail(function (xhr) {
                $("#Acoes").html(xhr.responseText);
            });
    };

    function editar(id) {
        $.post(urlsSorteio.Edit, {
            id: id
        }).done(function (data) {
            $("#Acoes").html(data);
        }).fail(function (xhr) {
            $("#Acoes").html(xhr.responseText);
        });
    };

    function detalhar(id) {
        $.get(urlsSorteio.Details, {
            id: id
        }).done(function (data) {
            $("#Acoes").html(data);
        }).fail(function (xhr) {
            $("#Acoes").html(xhr.responseText);
        });
    };

    function deletar(id) {
        if (!confirm("Deseja realmente Excluir essa Enquete?")) return;

        $.get(urlsSorteio.Delete, {
            id: id
        }).done(function (data) {
            $("#tabela").html(data);
        }).fail(function (xhr) {
            $("#Acoes").html(xhr.responseText);
        });
    };
</script>