@model IEnumerable<Hades.Web.ViewModels.EnqueteViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: white; padding: 10px; border-radius: 15px; box-shadow: 0 0 80px black; margin-top: 2%;">
    <h3>Lista de Enquetes</h3>

    <div id="Acoes" style="border-style: inset; padding: 2%; display: none;" ></div>

    <p>
        <ul>
            <li>
                <a class="btn-floating red"><i class="material-icons" onclick="criar()">playlist_add</i></a>
            
            
                <a class="btn-floating blue"><i class="material-icons" onclick="votar()">input</i></a>
            </li>
        </ul>
    </p>

    <div id="divContentEnquete"></div>
</div>

<script>
    var urlsEnquete = {
        Edit: '@Url.Action("Edit", "Enquete")',
        Details: '@Url.Action("Details", "Enquete")',
        Delete: '@Url.Action("DesativarEnquete", "Enquete")',
        Create: '@Url.Action("Create", "Enquete")',
        Votar: '@Url.Action("Votar", "Enquete")',
        BuscaTabelaEnquete: '@Url.Action("BuscaGridEnquetes", "Enquete")'
    }

    function criar() {
        $.post(urlsEnquete.Create)
            .done(function (data) {
                $("#divContentEnquete").slideUp(100, function () {
                    $("#divContentEnquete").html(data).slideDown(200);
                });
                $("#Acoes").hide();
            }).fail(function (xhr) {
                $("#Acoes").show();
                $("#Acoes").html(xhr.responseText);
            });
    };

    function buscaTabelaEnquete() {
        $.get(urlsEnquete.BuscaTabelaEnquete)
            .done(function (data) {
                $("#divContentEnquete").slideUp(100, function () {
                    $("#divContentEnquete").html(data).slideDown(200);
                });
                $("#Acoes").hide();
            }).fail(function (xhr) {
                $("#Acoes").show();
                $("#Acoes").html(xhr.responseText);
            });
    };

    buscaTabelaEnquete();

    function editar(id) {
        $.post(urlsEnquete.Edit, {
            id: id
        }).done(function (data) {
            $("#divContentEnquete").fadeOut(100, function () {
                $("#divContentEnquete").html(data).fadeIn(100);
            });
            $("#Acoes").hide();
        }).fail(function (xhr) {
            $("#Acoes").show();
            $("#Acoes").html(xhr.responseText);
        });
    };

    function detalhar(id) {
        $.get(urlsEnquete.Details, {
            id: id
        }).done(function (data) {
            $("#divContentEnquete").fadeOut(100, function () {
                $("#divContentEnquete").html(data).fadeIn(100);
            });
            $("#Acoes").hide();
        }).fail(function (xhr) {
            $("#Acoes").show();
            $("#Acoes").html(xhr.responseText);
        });
    };

    function desativar(id) {
        if (!confirm("Deseja realmente Desativar essa Enquete?")) return;

        $.get(urlsEnquete.Delete, {
            id: id
        }).done(function () {
            buscaTabelaEnquete();
            $("#Acoes").hide();
        }).fail(function (xhr) {
            $("#Acoes").show();
            $("#Acoes").html(xhr.responseText);
        });
    };

    function votar(id) {
        $.get(urlsEnquete.Votar, {
            id: id
        }).done(function (data) {
            $("#divContentEnquete").fadeOut(100, function () {
                $("#divContentEnquete").html(data).fadeIn(100);
            });
            $("#Acoes").hide();
        }).fail(function (xhr) {
            $("#Acoes").show();
            $("#Acoes").html(xhr.responseText);
        });
    };
</script>