@using Hades.Web.ViewModels
@model Hades.Web.ViewModels.CampanhaViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
    var adm = (bool)Session["Administrador"];
    var usuarioLogado = Session["Nome"].ToString() != "" ? Session["Nome"] : "";
}
<div class="row" style="margin-top: 12px">
    <div class="col s12">
        <div class="row">
            <div>
                <h4>CAMPANHA</h4>
                <dl class="dl-horizontal">
                    <dt style="text-align: center;">NOME: @Html.DisplayFor(model => model.DescCampanha) </dt>
                    <dt style="text-align: center;">DATA LIMITE: @Html.DisplayFor(model => model.DataFormatada) </dt>
                    <dt style="text-align: center;">VALOR R$: @Html.DisplayFor(model => model.ValorCampanha) </dt>
                </dl>
            </div>
            <div>
                <h4>PARTICIPANTES</h4>
                <table class="striped">
                    <tr>
                        <th style="text-align: center;">NOME USUÁRIO</th>
                    </tr>
                    @if (Model.Participantes != null)
                    {
                        foreach (var participante in Model.Participantes)
                        {
                            <tr>
                                <td style="text-align: center;">
                                    @if (adm || participante.NomParticipante == usuarioLogado)
                                    {
                                        <a class="btn-floating red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Desativar" style="width: 24px; height: 24px;">
                                            <i class="material-icons" style="line-height: 25px; display: block; font-size: 1.1rem;"
                                               onclick="deletarParticipanteCampanha('@Model.IdCampanha', '@participante.IdUsuario')">perm_identity</i>
                                        </a>
                                    }
                                    @Html.DisplayFor(modelItem => participante.NomParticipante)
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr><td colspan="1" style="text-align: center;">Nenhum participante encontrado...</td></tr>
                    }
                </table>
            </div>
            <p></p>
            <div>
                <button class="btn btn-default" style="width: -webkit-fill-available;" onclick="escondeModal()">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function deletarParticipanteCampanha(idCampanha, idUsuario) {
        if (!confirm("Deseja realmente deletar participante desta campanha?")) return;

        $.post('@Url.Action("DeletarParticipante","CampanhaParticipante")', {
            idCampanha: idCampanha,
            idUsuario: idUsuario
        }).done(function (data) {
            sucesso(data);
            buscaTabelaCampanha();
            setTimeout(function () { detalhar(idCampanha); }, 100);
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    };
</script>
