@model Hades.Web.ViewModels.CampanhaViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<div class="row" style="margin-top: 12px">
    <div class="col s12">
        <div class="row">

            <h4>EDITAR CAMPANHA</h4>

            @using (Html.BeginForm("EditConfirmed", "Campanha", FormMethod.Post, new { @class = "col s12" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.HiddenFor(model => model.IdCampanha, new { htmlAttributes = new { @id = "IdCampanha" } })

                    <div class="input-field col s12">
                        <textarea id="DescCampanha" name="DescCampanha" class="materialize-textarea" maxlength="100" data-length="100"
                                  onkeypress="verificaCaracteres(this)">@Model.DescCampanha</textarea>
                        <label for="DescCampanha">DESCRIÇÃO:</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="DataCadastro" style="text-align: center;" type="text" min="@DateTime.Now" name="DataCadastro" class="datepicker" 
                               value="@Model.DataCadastro.ToShortDateString()" readonly="readonly"/>
                        <label for="DataCadastro">DATA CADASTRO</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="DataLimite" style="text-align: center;" type="text" name="DataLimite" min="@DateTime.Now" class="datepicker" 
                               value="@Model.DataLimite.ToShortDateString()" />
                        <label for="DataLimite">DATA LIMITE</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="ValorCampanha" name="ValorCampanha" type="text" maxlength="10" data-length="10" value="@Model.ValorCampanha">
                        <label for="ValorCampanha">VALOR R$:</label>
                    </div>
                    <div class="input-field col s6" style="height: 67px;" >
                        <input type="checkbox" id="IndAtivo" name="IndAtivo" @(Model.IndAtivo ? "checked" : string.Empty) />
                        <label for="IndAtivo" style="color: black; font-weight: bold; ">ATIVA</label>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button id="btnEditarCampanha" class="btn btn-confirm" style="float: left;">SALVAR</button>
                        </div>
                    </div>
                </div>

            }
            <div style="margin-left: 110px; margin-top: -36px;">
                <button class="btn btn-default" style="float: right; margin-top: inherit;" onclick="escondeModal()">CANCELAR</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#Valor').mask("###.###,##", { reverse: true });
        $('input#input_text, textarea#textarea1').characterCounter();

        $('.datepicker').pickadate({
            monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            today: 'Hoje',
            clear: 'Limpar',
            close: 'Pronto',
            labelMonthNext: 'Próximo mês',
            labelMonthPrev: 'Mês anterior',
            labelMonthSelect: 'Selecione um mês',
            labelYearSelect: 'Selecione um ano',
            selectMonths: true,
            selectYears: 15,
            format: 'dd/mm/yyyy'
        });
    });

    $("#btnEditarCampanha").click(function (e) {
        e.preventDefault();

        if (!$("#DescCampanha").val().trim()) {
            erro("Descrição não pode ser vazio");
            return false;
        }

        if (!$("#ValorCampanha").val()) {
            erro("Valor não pode ser vazio");
            return false;
        }

        var dataInput = $("#DataLimite").val() != "" ? new Date($("#DataLimite").val()) : "";

        if (dataInput == "" || dataInput < new Date()) {
            erro("Data da Campanha deve ser maior que hoje");
            return false;
        }

        var campanha =
        {
            IdCampanha: $("#IdCampanha").val(),
            DescCampanha: $("#DescCampanha").val().trim(),
            DataLimite: $("#DataLimite").val(),
            IndAtivo: $("#IndAtivo").prop("checked"),
            ValorCampanha: $("#ValorCampanha").val()
        };

        $.post('@Url.Action("EditConfirmed", "Campanha")', { campanha: campanha })
            .done(function () {
                sucesso("Cadastro atualizado com sucesso");
                escondeModal();
                buscaTabelaCampanha();
            }).fail(function (xhr) {
                erro(xhr.responseText);
        });
    });

</script>
