@using Hades.Web.ViewModels
@model IEnumerable<Hades.Web.ViewModels.CampanhaViewModel>

@{
    ViewBag.Title = "Index";
    Layout = (bool)Session["Administrador"] ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutUsuario.cshtml";
    var mensagem = TempData["mensagem"]?.ToString() ?? "";
}

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div style="background-color: white; padding: 10px; border-radius: 15px; box-shadow: 0 0 30px black; margin-top: 2%;">
        <div style="float: left;">
            <a class="btn-floating red tooltipped waves-effect" data-position="bottom" data-delay="50" data-tooltip="Criar Sorteio" style="top: 15px;">
                <i class="material-icons" id="Novo">playlist_add</i>
            </a>

            <a class="btn-floating blue-grey tooltipped" id="MudarTabela" data-position="bottom" data-delay="50" data-tooltip="Todas Campanhas" style="top: 15px;">
                <i class="material-icons waves-effect">format_align_justify</i>
            </a>
        </div>
        <h4>LISTA DE COMPANHAS</h4>
        <div id="tabela">
            <div id="tabelaCampanha"></div>
        </div>
    </div>
</div>

<div id="divContentCampanhaDetail" class="modal modal-formatada-detail"></div>
<div id="divContentCampanha" class="modal modal-formatada"></div>

<script>

    var verificaTodasCampanhas = false;

    $(".modal-overlay").on("click", function () {
        $(this).hide();
    });

    var mensagemAviso = '@(!string.IsNullOrEmpty(mensagem)?mensagem:"")';

    $(document).ready(function () {
        $('.modal').modal();
        $('.tooltipped').tooltip({ delay: 50 });
        $('input#input_text, textarea#textarea1').characterCounter();
    });

    var urlsCampanha = {
        Edit: '@Url.Action("Edit")',
        Details: '@Url.Action("Details")',
        Delete: '@Url.Action("Delete")',
        Create: '@Url.Action("Create")',
        BuscaTabelaCampanhas: '@Url.Action("BuscaGridCampanhas")',
        BuscaTabelaTodasCampanhas: '@Url.Action("BuscaGridTodasCampanhas")',
        Participar: '@Url.Action("Participar","CampanhaParticipante")',
        SairCampanha: '@Url.Action("DeletarParticipante","CampanhaParticipante")'
    }

    var buscaTabelaCampanha = (function tabelaCampanha() {

        if (!verificaTodasCampanhas) {
            $.get(urlsCampanha.BuscaTabelaCampanhas)
                .done(function(data) {
                    $("#tabelaCampanha").html(data);
                }).fail(function(xhr) { erro(xhr.responseText); });
        } else {
            $.get(urlsCampanha.BuscaTabelaTodasCampanhas)
                .done(function (data) {
                    $("#tabelaCampanha").html(data);
                }).fail(function (xhr) { erro(xhr.responseText); });
        }


        return tabelaCampanha;
    })();

    mensagem(mensagemAviso);

    $("#MudarTabela").click(function() {
        if (verificaTodasCampanhas) {
            verificaTodasCampanhas = false;
            $("#MudarTabela").attr("data-tooltip", "Todas Campanhas");
        } else {
            verificaTodasCampanhas = true;
            $("#MudarTabela").attr("data-tooltip", "Ativos");
        }
        $("#tabelaCampanha").fadeOut();
        buscaTabelaCampanha();
        $("#tabelaCampanha").fadeIn();
    });

    $("#Novo").click(function () {
        $.get(urlsCampanha.Create)
            .done(function (data) { $('#divContentCampanha').modal('open').html(data); })
            .fail(function (xhr) { erro(xhr.responseText) });
    });

    function editar(id) {
        $.get(urlsCampanha.Edit, {
            idCampanha: id
        }).done(function (data) {
            escondeModal();
            $('#divContentCampanha').modal('open').html(data);
        }).fail(function (xhr) { erro(xhr.responseText) });
    };

    function detalhar(id) {
        $.get(urlsCampanha.Details, {
            idCampanha: id
        }).done(function (data) {
            escondeModal();
            $('#divContentCampanhaDetail').modal('open').html(data);
        }).fail(function (xhr) { erro(xhr.responseText) });
    };

    function desativar(idCampanha) {
        if (!confirm("Deseja realmente Desativar essa Campanha?")) return;

        $.get(urlsCampanha.Delete, {
            idCampanha: idCampanha
        }).done(function () {
            buscaTabelaCampanha();
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    };

    var userLog = sessionStorage.getItem('IdUsuarioLogado');

    function participar(idCampanha, idUsuario) {
        if (!confirm("Deseja realmente participar desta Campanha?")) return;

        $.post(urlsCampanha.Participar, {
            idCampanha: idCampanha,
            idUsuario: idUsuario
        }).done(function (data) {
            sucesso(data);
            buscaTabelaCampanha();
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    };

    function sairCampanha(idCampanha, idUsuario) {
        if (!confirm("Deseja realmente deixar de participar desta campanha?")) return;

        $.post(urlsCampanha.SairCampanha, {
            idCampanha: idCampanha,
            idUsuario: idUsuario
        }).done(function (data) {
            sucesso(data);
            buscaTabelaCampanha();
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    };

    function escondeModal() {
        $("#divContentCampanha").modal('close');
        $("#divContentCampanhaDetail").modal('close');
    }

</script>
